.logo {
  position: absolute;
  top: 2rem;
  left: 6.2rem;
  font-size: 2rem;
  font-weight: 700;
  z-index: 10;
}

.navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 15;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  text-align: center;
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 300;
  color: #111;
}
.navigation ul li a:hover {
  color: var(--background-color);
}

.social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.7rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-bar a {
  display: inline-block;
  transform: scale(0.6);
}

.email-icon {
  position: absolute;
  bottom: 1.1rem;
  transform: scale(0.7);
}

.home-img {
  height: 110%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.home-content {
  position: relative;
  max-width: 37.5rem;
  z-index: 10;
}
