@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --background-color: #f60f20;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #111;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  margin: 1.1em 0 0.6em;
  font-size: 1.1rem;
}
/* UNIVERSAL CLASSES */
.toggle {
  position: fixed;
  width: 3.7rem;
  height: 3.7rem;
  top: 0;
  right: 0;
  background: var(--background-color) url(../assets/menu.png);
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--background-color) url(../assets/close.png);
  background-size: 1.3rem;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

section {
  height: 100vh;
  padding: 6.2em;
  margin-top: 3.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.home {
  margin-top: 0;
  flex-direction: row;
}

.btn {
  padding: 0.6em 2em;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: var(--background-color);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.9);
}

/* RESPONSIVENESS */
@media (max-width: 1068px) {
  .home-img {
    display: none;
  }

  .logo {
    top: 0.6rem;
    left: 2.6rem;
    font-size: 1.5rem;
  }

  section {
    padding: 6.2em 2.6em;
  }

  .navigation ul li a {
    font-size: 2rem;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
    padding: 2em 2em 1.1em;
  }

  .row {
    flex-direction: column;
  }

  .input50 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    padding: 2em 2em 1.1em;
    margin-top: 1.1em;
  }
}

@media (max-width: 720px) {
  .services {
    display: grid;
    grid-template-columns: 1fr;
  }
}
